<div class="reset-password-container">
    <div class="reset-password-card">
        <h2 class="reset-password-title">Set New Password</h2>
        <form (submit)="resetPassword()" [formGroup]="formReset" class="change-info__form reset-password-form">
            <!-- new password -->
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" formControlName="newPassword" required minlength="8">
                <!-- show errors -->
                @if (formReset.get('newPassword')?.invalid &&
                    (formReset.get('newPassword')?.dirty ||
                    formReset.get('newPassword')?.touched)) {
                    <div class="alert alert-warning">
                        @if (formReset.get('newPassword')?.errors?.['required']) {
                            <p>New password is required.</p>
                        } @else if (formReset.get('newPassword')?.errors?.['minlength']) {
                            <p>New password must be at least 6 characters long.</p>
                        }
                    </div>
                }

                <!-- confirm password -->
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" formControlName="confirmPassword" required
                        minlength="8">
                    <!-- show errors -->
                    @if (formReset.get('confirmPassword')?.invalid &&
                    (formReset.get('confirmPassword')?.dirty ||
                        formReset.get('confirmPassword')?.touched)) {
                        <div class="alert alert-warning">
                            @if (formReset.get('confirmPassword')?.errors?.['required']) {
                                <p>Confirm password is required.</p>
                            } @else if (formReset.get('confirmPassword')?.errors?.['minlength']) {
                                <p>Confirm password must be at least 6 characters long.</p>
                            }
                        </div>
                    }
                </div>
                @if (errorConfirmPassword) {
                    <div class="alert alert-warning">
                        <p class="error-message">Passwords do not match</p>
                    </div>
                }
                <button type="submit" class="submit-btn">Reset Password</button>
            </div>
        </form>
        <div class="back-to-login">
            <a href="/login">Back to Login</a>
        </div>
    </div>
</div>
