$primary-color: #24786d;
$secondary-color: #f0f0f0;
$danger-color: #ff4d4d;

$background-color: #f9f9f9;

$border-input: #dcdcdc;
$border-input-focus: #24786d;

$dark-input-bg: #2c2c2c;
$dark-input-text: #ffffff;
$dark-input-border: #444444;
$dark-input-focus: #24786d;

$secondary-font: "Bitcount", system-ui;
